@model Implementacion_crud_con_mvc.Models.Libro

@{
    ViewData["Title"] = "Detalles del Libro";
}

<h2>Detalles del Libro</h2>

<div>
    <p><strong>Título:</strong> @Model.Titulo</p>
    <p><strong>Autor:</strong> @Model.Autor</p>
    <p><strong>Fecha de Publicación:</strong> @Model.FechaPublicacion.ToString("dd/MM/yyyy")</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
